
 */* {
    border: 2px solid green; 
    background-color: yellow;
}*/

p {
    color: green;
    text-align: center;
     font-size: 40;
}
h1 {
                color: brown;
                text-align: center;
                font-size: 40;
            }
    
h2 {
                color: brown;
                text-align: center;
                font-size: 40;
            } 
  .content1 {
    background-color: blue;
    width: 500px;
    height: 200px;
    margin-bottom: -40px;
  }          
  .content2 {
    background-color: rgb(255, 217, 0);
    width: 500px;
    height: 200px;
    padding: 5px;
  } 